<nav-bar></nav-bar>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel" style="padding: 5px">
                <h1>{{$ctrl.storeName}}</h1>
                <form ng-submit="$ctrl.updateStoreName()" class="form-inline" style="width: 100%">
                    <div class="form-group" style="margin-top: 1px">
                        <input id="inputNewStoreName" type="text" placeholder="New Name"
                               ng-model="$ctrl.newStoreName" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-raised btn-success" value="Update Store Name"
                           style="margin-top: 1px">
                </form>
            </div>
            <div class="panel" style="padding: 5px; padding-left: 10px">
                <h3>Total Orders Made: {{$ctrl.numOrders}}</h3>
                <button class="btn btn-raised btn-success btn-xs" ng-click="$ctrl.resetNumOrders()">
                    Reset
                </button>
            </div>
            <div class="panel" style="padding: 5px; padding-left: 10px">
                <h3>Location</h3>
                <h4>Latitude: {{$ctrl.latitude}}</h4>
                <h4>Longitude: {{$ctrl.longitude}}</h4>
                <form ng-submit="$ctrl.updateStoreLocation()" class="form-inline" style="width: 100%">
                    <div class="form-group" style="margin-top: 1px">
                        <input id="inputNewLatitude" type="number" step="0.0000000000000001" min="-90" max="90"
                               placeholder="New Latitude"
                               ng-model="$ctrl.newLatitude" class="form-control">
                        <br>
                        <input id="inputNewLongitude" type="number" step="0.0000000000000001" min="-180" max="180"
                               placeholder="New Latitude"
                               ng-model="$ctrl.newLongitude" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-raised btn-success" value="Update Store Location"
                           style="margin-top: 1px">
                </form>
            </div>
            <div class="panel" style="padding: 5px; padding-left: 10px">
                <h1>Menu</h1>
                <form ng-submit="$ctrl.submitMenuItem()" class="form-inline" style="width: 100%">
                    <div class="form-group" style="margin-top: 1px">
                        <input id="inputNewMenuItemName" type="text" placeholder="Item Name"
                               ng-model="$ctrl.newMenuItemName" class="form-control">
                        <input id="inputNewMenuItemPrice" type="number" step="0.01" placeholder="Item Price"
                               ng-model="$ctrl.newMenuItemPrice" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-raised btn-success" value="Create New Menu Item"
                           style="margin-top: 1px">
                </form>
            </div>
            <div ng-repeat="item in $ctrl.menuItemsArray">

                <div class="panel" style="padding: 2px; padding-left: 10px">
                    <h4>{{item["name"]}} <b>${{item["price"]}}</b></h4>
                </div>
            </div>
        </div>
    </div>
</div>