<!--<nav-bar></nav-bar>-->
<creepy-nav-bar></creepy-nav-bar>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel" style="padding: 5px; padding-left: 10px">
                <h1>Managing Orders in Creepy Mode</h1>
                <h4>This is like, super creepy, but food is food.</h4>
            </div>
            <div ng-repeat="order in $ctrl.ordersArray | orderBy:'ETA'">
                <div class="panel" style="padding: 5px; padding-left: 10px">
                    <!--{{order}}-->
                    <h4><b>Order #{{order["orderNum"] + 1}}</b></h4>
                    <div ng-repeat="item in order.items track by $index">
                        {{item}}
                    </div>
                    <h4>Total Price: {{order["totalPrice"]}}</h4>
                    <h4>Latitude: {{order["latitude"]}}</h4>
                    <h4>Longitude: {{order["longitude"]}}</h4>
                    <h4>Traveling Speed (Metres/Second): {{order["speed"]}}</h4>
                    <h4>ETA: {{order["ETA"]}}</h4>
                    <h4>Distance to Store (Metres): {{order["distance"]}}</h4>
                    <button class="btn btn-raised btn-success btn-xs" ng-click="$ctrl.deleteOrder(order.$id)">
                        Finished
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="CSS/creepy-style.css">